.header{
    align-items: center;
    background: #f9f9f9;
    display: flex;
    justify-content: space-between;
    padding-left: 2rem;
    padding-right: 2rem;
    line-height: 70px;
}

@media screen and (max-width: 1028px){
    .header{
        flex-direction: column;
    }
}

@media screen and (max-width: 970px){
    .header{
        padding: 0;
    }
}