.logo{
    height: 70px;
    margin-right: 1rem;
}

@media screen and (max-width: 1045px){
    .logo{
        margin: 0;
    }
}

@media screen and (max-width: 1028px){
    .logo{
        margin-right: 1rem;
    }
}