.descripcion__estudios{
    font-size: 22px;
    line-height: 1.5;
}

@media screen and (max-width: 680px){
    .descripcion__estudios{
        font-size: 18px;
        line-height: 1.2;
    }
}

@media screen and (max-width: 590px){
    .descripcion__estudios{
        font-size: 14px;
        line-height: 2;
    }
}