.menu__item {
    list-style: none;
    text-align: center;
    width: 100px;
}

.menu__item:hover{
    background-color: rgb(11, 59, 11);
}

.menu__item:hover>.menu__link{
    color: #f9f9f9;
}

.menu__item:last-child .menu__link {
    margin-right: 0;
}

@media screen and (max-width: 1028px){
    .menu__item{
        width: 150px;
    }
}

@media screen and (max-width: 935px){
    .menu__item{
        width: 120px;
    }
}

@media screen and (max-width: 760px){
    .menu__item{
        width: 90px;
    }
}

@media screen and (max-width: 570px){
    .menu__item{
        width: 75px;
        font-size: 12px;
    }
}

@media screen and (max-width: 500px){
    .menu__item{
        width: 63px;
        font-size: 11px;
    }
}